@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Home css */
  .link {
    @apply text-secondary cursor-pointer hover:text-primary font-medium dark:hover:text-white whitespace-nowrap dark:group-hover:text-white;
  }
  .sidebar__link {
    @apply text-secondary cursor-pointer hover:text-blue-500 font-medium py-0.5 dark:hover:text-white whitespace-nowrap dark:group-hover:text-white;
  }
  .sidebar {
    @apply bg-white dark:bg-darkSecondary fixed z-[100] h-screen w-[240px] transform -translate-x-full px-5 overflow-y-auto scrollbar-hide duration-200;
  }
  .sidebar__active {
    @apply bg-white dark:bg-darkSecondary fixed z-[100] h-screen w-[240px] px-5 overflow-y-auto scrollbar-hide transform translate-x-0 duration-200;
  }
  .darkOrLight {
    @apply bg-white text-primary dark:bg-darkPrimary dark:text-white;
  }
  .ul__hover_dropdown {
    @apply absolute py-4 pl-4 pr-8 rounded-md top-14 -left-2 opacity-0 duration-200 ease-in-out bg-white shadow-xl dark:bg-darkPrimary;
  }
  .btn {
    @apply rounded-lg md:rounded-xl py-2 px-4 md:py-2.5 md:px-6 text-xs md:text-sm duration-200 font-medium text-blue-600 hover:-translate-y-0.5 active:translate-y-0;
  }
  .dark__btn {
    @apply bg-white dark:bg-darkSecondary text-xs md:text-sm text-primary dark:text-white hover:drop-shadow-2xl hover:translate-y-1;
  }
  .btn__primary {
    @apply bg-[#1a5cff] dark:bg-[#1a5cff] text-xs md:text-sm text-white hover:drop-shadow-2xl hover:-translate-y-1;
  }
  .square__card {
    @apply py-7 px-8 rounded-3xl w-[120px] h-[120px] md:w-[140px] md:h-[140px] inline-flex items-center justify-center bg-white dark:bg-darkSecondary shadow-lg hover:translate-y-2 duration-300 ease-in-out;
  }
  .heading {
    @apply text-[1.2rem] md:text-[1.7rem] lg:text-[2rem] font-semibold text-primary dark:text-white;
  }
  .paragraph {
    @apply text-xs sm:text-sm md:text-base lg:text-lg font-medium text-primary dark:text-white;
  }
  .ripple_bg_gray_300 {
    @apply bg-[#e2e8f0];
  }
  .dropdown__ul {
    @apply flex my-1 items-center space-x-2 p-2 rounded-xl bg-white dark:bg-darkSecondary shadow-2xl w-fit;
  }
  .breadcrumbs__div {
    @apply sticky z-30 top-[2.4rem] md:top-[3.5rem] mt-[3.5rem] bg-gray-100 dark:bg-[#141417] duration-300 shadow-md;
  }
  i {
    @apply text-red-500
  }
}

/* ==================== MEN ================= */

.animation1 {
  animation: animation1 infinite 3s linear;
}

@keyframes animation1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animation2 {
  animation: animation2 infinite 4s linear;
}

@keyframes animation2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.btn-shine {
  position: relative;
  overflow: hidden;
}

.btn-shine::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  transform: rotate(45deg);
  animation: none; /* Disable the animation by default */
  transition: opacity 0.3s ease-in-out; /* Add a transition for smooth effect */
}

.btn-shine:hover::before {
  animation: shine 1.5s infinite; /* Enable the animation on hover */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
}

@keyframes shine {
  0% {
    transform: translateX(-150%) rotate(45deg);
  }
  100% {
    transform: translateX(150%) rotate(45deg);
  }
}